div.yeeditor .yee-content-element{
    margin-bottom: 35px;
}
div.yeeditor .separator-align-left {
    text-align: left;
}
div.yeeditor .separator-align-center {
    text-align: center;
}
div.yeeditor .separator-align-right {
    text-align: right;
}
div.yeeditor .yee-text-separator {
    clear: both;
    height: 1px;
    border-bottom: 1px solid #E6E6E6;
}
div.yeeditor .yee-text-separator div {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 1px 1em;
    position: relative;
    top: -9px;
}