<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="AjaxQuiz" label="AjaxQuiz Configuration" description="CAP">
		<field name="startimg" type="text" size="70" default="components/com_ajaxquiz/assets/images/start.png" label="STRT_IMG" description="STRT_DES" />
		<field name="starttxt" type="text" size="70" default="Let\'s get started!" label="STRT_TXT" description="STRT_DES" />
		<field name="endtxt" type="text" size="70" default="Finished!" label="END_TXT" description="END_DES" />
		<field name="perfecttxt" type="text" size="70" default="Perfect!" label="PER_TXT" description="PER_DES" />
		<field name="excelltxt" type="text" size="70" default="Excellent!" label="EXC_TXT" description="EXC_DES" />
		<field name="goodtxt" type="text" size="70" default="Good!" label="GOOD_TXT" description="GOOD_DES" />
		<field name="acctxt" type="text" size="70" default="Acceptable!" label="ACC_TXT" description="ACC_DES" />
		<field name="distxt" type="text" size="70" default="Disappointing!" label="DIS_TXT" description="DIS_DES" />
		<field name="poortxt" type="text" size="70" default="Poor!" label="POOR_TXT" description="POOR_DES" />
		<field name="nadatxt" type="text" size="70" default="Nada!" label="NADA_TXT" description="NADA_DES" />
		<field name="questiontitle" type="radio" default="1" label="QUES_TITLE" description="QUES_TITLE_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="custom_email" type="radio" default="0" label="CUSTOM_EMAIL" description="CUSTOM_EMAIL_DESC">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="cus_email" type="text" size="70" default="" label="CUS_EMAIL" description="CUS_EMAIL_DESC" />
		<field name="mailenable" type="radio" default="0" label="RESULT_MAIL" description="RESULTMAIL_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="userenable" type="radio" default="0" label="REGISTER_ACCESS" description="REGISTER_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="resultshow" type="radio" default="1" label="RESULT_SHOW" description="RESULT_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="loadjquery" type="radio" default="1" label="LOAD_JQUERY" description="LOAD_JQUERY_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
    </fieldset>
	<fieldset name="Social" label="Social Settings" description="Configure Social Parameters">
		<field name="twittershow" type="radio" default="1" label="TWIT_SHOW" description="TWIT_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="twitteruser" type="text" size="70" default="webkul" label="TWET_USER" description="TWETUSER_DES" />
		<field name="twittertxt" type="text" size="70" default="Woo! I got {score} on the quiz. Try it!" label="TWET_TXT" description="TWETTXT_DES" />
		<field name="fbshow" type="radio" default="1" label="FB_SHOW" description="FB_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="gplusshow" type="radio" default="1" label="GPLUS_SHOW" description="GPLUS_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
		<field name="linkedshow" type="radio" default="1" label="LINKED_SHOW" description="LINKED_DES">
			<option value="0">ARG_NO</option>
			<option value="1">ARG_YES</option>
		</field>
	</fieldset>
	<fieldset name="Fbfanpage" label="Facbook Fanpage Settings" description="CFFP" addfieldpath="administrator/components/com_ajaxquiz/models/fields">
		<field name="fbappid" type="text" size="70" default="" label="FB_APPID" description="FB_APPID_DES" />
		<field name="fbappkey" type="text" size="70" default="" label="FB_APPKEY" description="FB_APPKEY_DES" />
		<field name="articleid" type="text" size="70" default="" label="ARTICLE_ID" description="ARTICLE_ID_DES" />
		<field name="catid" type="catlist" size="1" label="SELECT_QUIZ" description="CATE_DES"/>
	</fieldset>
</config>